<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} Sistema de Gestion de Ventas y Stock</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
    {{> header}}
    
    <div class="container-fluid">
        {{{body}}}
    </div>

    {{> footer}}

    <script src="/js/bootstrap.bundle.min.js"></script>
        <!-- jQuery (requerido por DataTables) -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <!-- DataTables CSS (estilo Bootstrap 5) -->
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.8/datatables.min.css" rel="stylesheet">
    <!-- DataTables JS -->
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.8/datatables.min.js"></script>
    <script src="/js/datatables-init.js" ></script>

    {{{_sections.scripts}}}
</body>
</html>