<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 text-center">
            <div class="card shadow">
                <div class="card-body py-5">
                    <p class="lead text-muted mb-3">Reportes en Desarrollo</p>

                    <div class="progress" role="progressbar" aria-label="Example 20px high" aria-valuenow="25"
                        aria-valuemin="0" aria-valuemax="100" style="height: 20px">
                        <div class="progress-bar" style="width: 25%"></div>
                    </div>
                    <small class="text-muted">Progreso: 25% completado</small>
                    <div class="mt-5">
                        <a href="/dashboard" class="btn btn-outline-secondary btn-lg">Volver Atras</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>