<div class="text-center">
    <div class="card border-0 shadow">
        <div class="card-body bg-primary text-white p-5 rounded">
            <h1 class="display-4 fw-bold">¡Bienvenido!</h1>
            <hr class="my-4 bg-white opacity-100">
            <p class="lead mb-4">Trabajo Final </p>
            <div class="mt-4">
                <a href="/dashboard" class="btn btn-light btn-lg me-3">Dashboard</a>
            </div>
            <!--
            <div class="mt-4">
                <a href="./auth/login" class="btn btn-light btn-lg me-3">Iniciar Sesion</a>
                <a href="./auth/registrar" class="btn btn-outline-light btn-lg">Registrarse</a>
            </div>
            -->
        </div>
    </div>
</div>