<nav class="navbar navbar-expand-lg navbar-dark bg-dark main-header">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Sistema de Gestión de Ventas y Stock</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</nav>