<div class="col-md-3 col-lg-2 bg-dark sidebar">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white active" href="/dashboard"> Dashboard </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/venta/listado"> Ventas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/compra/lista">Compras</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/proveedor/listado"> Proveedores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/producto/listado">Productos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/clientes"> Clientes </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/reportes"> Reportes </a>
            </li>
        </ul>
    </div>
</div>