<div class="col-md-3 col-lg-2 bg-dark sidebar">
    <div class="position-sticky pt-3">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white active" href="/dashboard">
                    <i class="bi bi-speedometer2"></i> Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/ventas">
                    <i class="bi bi-cart-check"></i> Ventas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/proveedor/listado">
                    <i class="bi bi-cart-check"></i> Proveedores
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/productos">
                    <i class="bi bi-box-seam"></i> Productos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/clientes">
                    <i class="bi bi-people"></i> Clientes
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/reportes">
                    <i class="bi bi-bar-chart"></i> Reportes
                </a>
            </li>
        </ul>
    </div>
</div>